<mat-card class="box-1">
    <mat-card-header>
      <mat-card-title class="title">Create a group.</mat-card-title>
      <mat-card-subtitle class="pcolor">-Begin registering your group by entering group name and then click save</mat-card-subtitle>
    </mat-card-header>
    <label for="groupName">Enter group name:</label>
    <input type="text" placeholder="Group name" id="groupName">
    <br>
    <mat-card-actions>
      <button mat-button routerLink="/registrationform"
       routerLinkActive="/registrationform" class="saveButton">SAVE</button>
    </mat-card-actions>
  </mat-card>
  <br>
