<form [formGroup]="pledge">
    <mat-card class="box-1">
        <div formGroupName="address">
            <div class="paymentMethod">
                <h2>Register a Pledge.</h2>
            </div>
            <br>
            <br>
            <br>
            <div class="pledge">
                <h3>Fill the details below to register for a pledge.</h3>
                <label for="methodName">Full name: <br>
                </label>
                <input id="accname" type="text" formControlName="fullName">
                <br>
                <br>
                <label for="phoneNumber">Phone Number: <br>
                    <br>
                </label>
                <input id="phoneNumber" type="number" formControlName="phoneNumber">
                <br>
                <br>
                
                <label for="email">Email: <br>
                </label>
                <input id="email" type="email" formControlName="email">
                <br>
                <br>

            </div>

            <label for="amount">Enter amount: <br>
            </label>
            <input id="amount" type="number" formControlName="amount">
        </div>
        <mat-card-actions>
            <button mat-button routerLink="/contribution" routerLinkActive="/contribution"
                class="saveButton">SAVE</button>
        </mat-card-actions>
        <mat-card-actions>
            <button mat-button routerLink="/createaccount" routerLinkActive="/createaccount"
                class="saveButton">Back</button>
        </mat-card-actions>
    </mat-card>
</form>